{% extends '::base.html.twig' %}

{% block body %}
{% set social_titles = { 'ok': 'odnoklassniki.ru', 'vk': 'vk.com', 'facebook': 'facebook.com' } %}
<div class="popup_type2">
        <div class="popup_yourpass">
                <p class="popup_yourpass_intro">Авторизация через социальную сеть</p>
                <p class="popup_yourpass_outro">Аккаунт<br/><span>{{ socialUid }} - {{ social_titles[social] }}</span></p>
                <p class="popup_yourpass_outro">Связан с аккаунтом<br /><span>{{ email }}</span></p>
        </div>

</div>	
{% endblock %}