{% extends '::base.html.twig' %}

{% block body %}
<div id="emailPopup" class="popup_type1">
    <div class="popup_socialauth">
        <p class="popup_socialauth_intro">Для завершения регистрации введите email</p>
        <form id="email_add" method="post" action="{{ path('_social_connect') }}" {{ form_enctype(form) }} novalidate="novalidate">
            <div>
                {{ form_widget(form.email) }}
            </div>
            {{ form_rest(form) }}
            <div>
                <input id="email_submit" type="submit" value="OK" />
            </div>
        </form>
    </div>
</div>
{% endblock %}