{% extends '::base.html.twig' %}

{% block body %}
<div id="successSocialConfirm" class="popup_type1">
        <div class="popup_closethis"></div>
        <div class="popup_confirm">
                <p class="popup_confirm_intro">Авторизация через социальную сеть</p>
                <p class="popup_confirm_outro">Вам необходимо перейти по ссылке, высланной вам в письме, чтобы связать данный социальный аккаунт с существующим аккаунтом на сайте.</p>
        </div>

</div>
{% endblock %}